<div class="w3-container w3-teal">
	<h2>Добавление Отдел</h2>
</div>

<form action="/department/add" method="post" class="w3-container">
	<label class="w3-text"><b>Название: </b></label>
	<input type="text" name="name" class="w3-input w3-border w3-light-grey"/><br />
	<button type="submit" class="w3-btn w3-blue-grey">Добавить отдел</button>
</form>
