<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- title %></title>
		<link rel="stylesheet" href="css/assets.css" />
	</head>
	<body>
		<div class="wrapper">
			<main class="main"><%- body %></main>
			<aside class="aside">Тут будет доп инфа</aside>
		</div>

		<nav class="nav"><a href="/">На главную</a></nav>

		 <!--<footer class="footer"><%- include('../partials/footer.ejs') %></footer>-->
	</body>
</html>
