<form action="/editasset/<%= aAsset[0].id %> " method="post">
	Hostname: <input type="text" name="hostname" value="<%=aAsset[0].hostname %>" /><br />
	IP: <input type="text" name="ip" value="<%=aAsset[0].ip%>" /><br />
	<button type="submit">Изменить ассет</button>
</form>
