<div class="w3-container w3-teal">
	<h2>Добавление пользователя</h2>
</div>

<form action="/user/add" method="post" class="w3-container">
	<label class="w3-text"><b>Имя: </b></label>
	<input type="text" name="name" class="w3-input w3-border w3-light-grey"/><br />
	<label class="w3-text"><b>Отдел: </b></label>
	<input type="text" name="department" class="w3-input w3-border w3-light-grey"/><br />
	<label class="w3-text"><b>Должность: </b></label>
	<input type="text" name="position" class="w3-input w3-border w3-light-grey"/><br />
	<button type="submit" class="w3-btn w3-blue-grey">Добавить пользователя</button>
</form>
