<div class="w3-container w3-teal">
	<h2>Изменение пользователя</h2>
</div>

<form action="/user/edit/<%= aUser[0].id %> " method="post" class="w3-container">
	<label class="w3-text"><b>Имя: </b></label>
	<input type="text" name="name" value="<%=aUser[0].name %>" class="w3-input w3-border w3-light-grey"/><br />
	<label class="w3-text"><b>Отдел: </b></label>
	<input type="text" name="department" value="<%=aUser[0].department%>" class="w3-input w3-border w3-light-grey"/><br />
	<label class="w3-text"><b>Должность: </b></label>
	<input type="text" name="position" value="<%=aUser[0].position%>" class="w3-input w3-border w3-light-grey"/><br />
	<button type="submit" class="w3-btn w3-blue-grey">Изменить ассет</button>
</form>
