<div class="w3-container w3-teal">
	<h2>Добавление ассета</h2>
</div>

<form action="/asset/add" method="post" class="w3-container">
	<label class="w3-text"><b>Hostname: </b></label>
	<input type="text" name="hostname" class="w3-input w3-border w3-light-grey"/><br />
	<label class="w3-text"><b>IP: </b></label>
	<input type="text" name="ip" class="w3-input w3-border w3-light-grey"/><br />
	<button type="submit" class="w3-btn w3-blue-grey">Добавить ассет</button>
</form>
